<mat-toolbar>
  <span>Your Info</span>
</mat-toolbar>

<div class="container">
  <mat-card class="example-card">
    <mat-card-header>
      <mat-card-title>Device Info</mat-card-title>

    </mat-card-header>
    <mat-card-content>
      <div class="device_info">
        <div class="device_info_item" *ngFor="let item of deviceInfoArr">
          <mat-card>
            <mat-card-title>{{item[0]}}</mat-card-title>
            <mat-card-subtitle>{{item[1]}}</mat-card-subtitle>
          </mat-card>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
  <mat-divider></mat-divider>

  <mat-card class="example-card">
    <mat-card-header>
      <mat-card-title>IP & Location Info</mat-card-title>

    </mat-card-header>
    <mat-card-content>

      <div class="ip_info">
        <div class="ip_info_item" *ngFor="let item of ipLocation">
          <mat-card>
            <mat-card-title>{{item.key}}</mat-card-title>
            <mat-card-subtitle>{{item.value}}</mat-card-subtitle>
          </mat-card>
        </div>
      </div>
    </mat-card-content>
  </mat-card>

</div>